.main_page{
    display: grid;
    grid-template-columns: repeat(12,1fr);
    gap:32px;

}
.logo_img{
    grid-column: 1/3;
}
.search_resultbar,.result1,.result2,.result3,.result4,.result5,.result6{
    grid-column: 3/10;
}


@media all and (max-width:650px){
    .main_page{
        display: grid;
        grid-template-columns: repeat(4,1fr);
        gap:16px;
    
    }

    .search_resultbar,.result1,.result2,.result3,.result4,.result5,.result6{
        grid-column:1/5;
    }
    .logo_img{
        grid-column: 1/5;
        text-align: center;
    }
    .logo_img img{
        height:20px;
        width: 100px;
    }


}